#Function

In [6]:
def square(num):
    return num ** 2

print("Square of 4:", square(4))

Square of 4: 16

In [7]:
def larger(a, b):
    return a if a > b else b

print("Larger of 10 and 25:", larger(10, 25))

Larger of 10 and 25: 25

In [8]:
def print_welcome():
    for _ in range(5):
        print("Welcome to AIML")

print_welcome()

Welcome to AIML
Welcome to AIML
Welcome to AIML
Welcome to AIML
Welcome to AIML

In [9]:
def even_or_odd(num):
    return "Even" if num % 2 == 0 else "Odd"

print("7 is:", even_or_odd(7))

7 is: Odd

In [10]:
def sum_of_list(lst):
    return sum(lst)

print("Sum of [1, 7, 6, 2, 5]:", sum_of_list([1, 7, 6, 2, 5]))

Sum of [1, 7, 6, 2, 5]: 21

#Loop

In [11]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [12]:
i = 1
while i <= 20:
    if i % 2 == 0:
        print(i)
    i += 1

2
4
6
8
10
12
14
16
18
20

In [13]:
string = "Artificial Intelligence"
for char in string:
    print(char)

A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [14]:
for i in range(1, 11):
    print(f"5 x {i} = {5 * i}")

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [15]:
numbers = [5, -2, 12, 7, 0, 33, -10, 8]
for num in numbers:
    if num > 0:
        print(num)

5
12
7
33
8

#Try and Except

In [16]:
def divide(a, b):
    try:
        return a / b
    except ZeroDivisionError:
        return "Error: Cannot divide by zero."

# Example
print(divide(10, 2))  
print(divide(10, 0))

5.0
Error: Cannot divide by zero.

In [19]:
try:
    num = float(input("Enter a number: "))
    print("You entered:", num)
except ValueError:
    print("Error: That's not a valid number.")

Enter a number:  w

Error: That's not a valid number.

In [20]:
try:
    with open("sample.txt", "r") as file:
        content = file.read()
        print(content)
except FileNotFoundError:
    print("Error: The file was not found.")

Error: The file was not found.

In [21]:
def add_numbers(a, b):
    if not isinstance(a, (int, float)) or not isinstance(b, (int, float)):
        raise ValueError("Both inputs must be numbers.")
    return a + b


print(add_numbers(4, 5))

9

In [22]:
try:
    value = int(input("Enter an integer: "))
    print("You entered:", value)
except ValueError:
    print("Error: Please enter a valid integer.")

Enter an integer:  3

You entered: 3

#Lambda, Map, Filter

In [23]:
add_10 = lambda x: x + 10
print(add_10(5))

15

In [24]:
numbers = [1, 2, 3, 4, 5]
squares = list(map(lambda x: x ** 2, numbers))
print(squares)

[1, 4, 9, 16, 25]

In [25]:
numbers = [5, -2, 12, 7, 0, 33, -10, 8]
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
print(even_numbers)

[-2, 12, 0, -10, 8]

In [26]:
words = ["apple", "banana", "kiwi", "fig", "strawberry", "grape"]
uppercase_words = list(map(lambda word: word.upper(), words))
print(uppercase_words)

['APPLE', 'BANANA', 'KIWI', 'FIG', 'STRAWBERRY', 'GRAPE']

In [27]:
values = [10, 55, 67, 42, 90, 33]
greater_than_50 = list(filter(lambda x: x > 50, values))
print(greater_than_50)

[55, 67, 90]

#Variable Scope

In [29]:
x = 10  

def show_global():
    print("Inside function, global x =", x)

show_global()  
print("Outside function, global x =", x)

Inside function, global x = 10
Outside function, global x = 10

In [30]:
y = 20 

def local_scope():
    y = 100  
    print("Inside function, local y =", y)

local_scope()  
print("Outside function, global y =", y)

Inside function, local y = 100
Outside function, global y = 20

In [31]:
z = 5 

def modify_global():
    global z
    z = z + 10
    print("Modified global z inside function =", z)

modify_global()  
print("Global z after function =", z)

Modified global z inside function = 15
Global z after function = 15

In [32]:
msg = "Hello from Global!" 

def set_local():
    msg = "Hello from Local!"
    print("Inside set_local():", msg)

def access_global():
    print("Inside access_global():", msg)

set_local()       
access_global()

Inside set_local(): Hello from Local!
Inside access_global(): Hello from Global!